html{
    background-color: black;
}
body{
    width: 800px;
    height: 800px;
    background-color: white;
    margin: 30px auto;

}
        
    
}
.row{
    width: 100%;
    float: left;
}
.box{
    width: 100px;
    height: 100px;
    float: left;
    font-size: 80px;
    color: brown;
}

.black{
    background-color: black;
}
#t :hover{
    background-color: coral;
}
#m :hover{
    background-color: chartreuse;
}
#r :hover{
    background-color: blue;
}
#am :hover{
background-color: rgb(61, 11, 11);
}
.box:hover{
    background-color: aqua;
}




